In [2]:
a=10

In [5]:
import pandas as pd
import numpy as  np

In [7]:
df=pd.read_csv("C:\StreamlineProject\spam.csv",encoding='latin-1')

In [8]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [9]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [10]:
df['label']=df['v1']
df['messages']=df['v2']
df.drop(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)

In [11]:
df.head()

  label                                           messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [14]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\nasim\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
corpus=[]
for i in range(len(df)):
    review=re.sub('[^a-zA-Z]', ' ', df['messages'][i]) 
    review=review.lower()
    review=review.split()
    review=[ps.stem(word) for word in review if not word in stopwords.words('english')]
    review=' '.join(review) 
    corpus.append(review)

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=100,binary=True,ngram_range=(3,3))

In [23]:
x=cv.fit_transform(corpus).toarray()

In [24]:
x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [25]:
cv.vocabulary_

{'like lt gt': 42,
 'sorri call later': 79,
 'pleas call custom': 66,
 'call custom servic': 6,
 'custom servic repres': 21,
 'guarante cash prize': 34,
 'draw show prize': 22,
 'show prize guarante': 77,
 'prize guarante call': 70,
 'special select receiv': 81,
 'speak live oper': 80,
 'live oper claim': 44,
 'privat account statement': 68,
 'account statement show': 0,
 'call identifi code': 7,
 'identifi code expir': 39,
 'bonu caller prize': 4,
 'select receiv award': 76,
 'match pleas call': 54,
 'urgent tri contact': 96,
 'lt decim gt': 46,
 'secret admir look': 75,
 'admir look make': 1,
 'look make contact': 45,
 'make contact find': 53,
 'contact find reveal': 19,
 'find reveal think': 27,
 'reveal think ur': 73,
 'think ur special': 86,
 'ur special call': 93,
 'draw txt music': 23,
 'www ldew com': 99,
 'anytim network min': 2,
 'camcord repli call': 12,
 'cant pick phone': 13,
 'pick phone right': 64,
 'phone right pl': 63,
 'right pl send': 74,
 'pl send messag': 65,
 'maxim ur cash': 55,
 'hg suit land': 36,
 'suit land row': 84,
 'land row hl': 41,
 'call mobileupd call': 9,
 'mobileupd call optout': 58,
 'lt gt min': 48,
 'free entri weekli': 28,
 'urgent mobil number': 95,
 'mobil number award': 57,
 'guarante call land': 33,
 'call land line': 8,
 'land line claim': 40,
 'line claim valid': 43,
 'claim valid hr': 16,
 'lt gt th': 50,
 'lt gt lt': 47,
 'gt lt gt': 32,
 'caller prize nd': 11,
 'prize nd attempt': 71,
 'nd attempt contact': 59,
 'ur worth discount': 94,
 'statement show un': 82,
 'show un redeem': 78,
 'un redeem point': 91,
 'redeem point call': 72,
 'point call identifi': 67,
 'new video phone': 60,
 'happi new year': 35,
 'everi wk txt': 26,
 'lt gt minut': 49,
 'lt time gt': 51,
 'free st week': 29,
 'nokia tone ur': 61,
 'everi week txt': 25,
 'tell ur mate': 85,
 'www getz co': 98,
 'getz co uk': 30,
 'co uk pobox': 17,
 'uk pobox wq': 90,
 'wq norm tone': 97,
 'good morn dear': 31,
 'holiday cash await': 38,
 'cash await collect': 14,
 'await collect sae': 3,
 'collect sae cs': 18,
 'stop text call': 83,
 'tri contact today': 89,
 'contact today draw': 20,
 'today draw show': 87,
 'tone ur mob': 88,
 'ur mob everi': 92,
 'mob everi week': 56,
 'call per min': 10,
 'per min ntt': 62,
 'ltd po box': 52,
 'bt nation rate': 5,
 'prize claim easi': 69,
 'claim easi call': 15,
 'easi call per': 24,
 'holiday await collect': 37}

In [26]:
x

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)